<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>
<p>
  <strong>Speciality:</strong>
  <%= @specialist.speciality %>
</p>
<p> <br> </p>
<p> <h1> Currently Scheduled Appointments </h1></p>
<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Complaint</th>
      <th>Appointment Date</th>
      <th>Days Until Appointment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @specialist.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.complaint %></td>
        <td><%= appointment.appointment_date %></td>
	<td><%= (appointment.appointment_date - Date.today).to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p> <br> </p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
