<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>
<p> <br> </p>
<p><h1> Upcoming Appointments </h1></p>

<table>
  <thead>
    <tr>
      <th>Specialist</th>
      <th>Appointment date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.specialist.name %></td>
        <td><%= appointment.appointment_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p> <br> </p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
